
 

.container{
  display: inline-block;
 
 
}
img{
width: 280px;
height: 140px;
margin: 2px;
}
button{
  margin-left: 6px;
  margin-top: 1px;
  background-color: darkblue;
  border: none;
  padding: 4px;
  color: white;
  border-radius: 5px;
}

.App{
  background-color: gray;
  padding: 12px;

}
@media screen and (min-width:764px) {
  img{
    width: 400px;
    height: 300px;
    margin: 2px;
    }
}
  
